@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.container{
   
    
}
body{
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title {
    font-family: 'Rampart One', cursive;

}
h2{
    color: black;
}